<h1>🍪 Política de Cookies</h1>
<p>¿Qué son las cookies?</p>
<p>
  Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo
  cuando visitas un sitio web. Sirven para recordar tus preferencias, mejorar tu
  experiencia de navegación y recopilar información estadística sobre el uso del
  sitio.
</p>
<h2>¿Qué tipos de cookies utilizamos?</h2>
<h3>1. Cookies técnicas (necesarias)</h3>
<p>
  Estas cookies son esenciales para el funcionamiento del sitio web y no se
  pueden desactivar en nuestros sistemas. Permiten funciones básicas como la
  navegación, el acceso a áreas seguras o la gestión del carrito de compra.
</p>
<h3>2. Cookies de preferencias</h3>
<p>
  Permiten recordar información para personalizar la experiencia del usuario,
  como el idioma o la región.
</p>
<h3>3. Cookies de análisis o estadísticas</h3>
<p>
  Nos ayudan a entender cómo interactúan los visitantes con el sitio web
  mediante la recopilación de información de forma anónima, lo que nos permite
  mejorar continuamente nuestros servicios.
</p>
<h3>4. Cookies de marketing</h3>
<p>
  Se utilizan para rastrear a los visitantes a través de los sitios web. La
  intención es mostrar anuncios relevantes y atractivos para el usuario.
</p>
<br />
<h2>¿Cómo puedes gestionar las cookies?</h2>
<p>
  Al visitar nuestro sitio por primera vez, te mostraremos un banner para que
  puedas aceptar, rechazar o configurar las cookies según tus preferencias.
  También puedes modificar tus preferencias en cualquier momento desde el [panel
  de configuración de cookies] o a través de la configuración de tu navegador.
</p>
<h2>¿Durante cuánto tiempo se almacenan?</h2>
<p>El tiempo que una cookie permanece en tu dispositivo varía según su tipo:</p>
<ul>
  <li>
    Cookies de sesión: se eliminan al cerrar el navegador. Cookies persistentes:
  </li>
  <li>
    Cookies persistentes: pueden mantenerse durante un período definido, que
    varía entre días y meses.
  </li>
</ul>

<h2>Cookies de terceros</h2>
<p>
  En algunos casos, utilizamos servicios de terceros (como Google Analytics,
  YouTube, redes sociales, etc.) que pueden instalar sus propias cookies para
  analizar el tráfico web o mejorar la experiencia de usuario. Estas cookies
  están gestionadas por terceros y están sujetas a sus propias políticas.
</p>

<h2>Cambios en la política de cookies</h2>
<p>
  Nos reservamos el derecho a modificar esta Política de Cookies en cualquier
  momento. Te recomendamos revisar esta página periódicamente para estar
  informado de cualquier cambio.
</p>

<h2>Más información</h2>
<p>
  Para obtener más información sobre cómo tratamos tus datos personales,
  consulta nuestra [Política de Privacidad].
</p>
