<div class="card flex justify-center mb-12">
  <div class="w-[90vw] mx-auto p-6 border border-gray-200 rounded-lg dark:border-gray-700">
    <h2 class="font-bold text-xl mb-6">Imagen de perfil</h2>
    
    <div class="flex justify-center">
      <m-avatar
        [image]="'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'"
        [label]="user$()?.name || 'Usuario'"
        size="xlarge"
        class="mr-2"
      />
    </div>
    
    <div class="w-[80vw] max-w-[80vw] mx-auto mt-6 p-4 border border-gray-200 rounded-lg dark:border-gray-700">
      <h3 class="font-bold text-lg mb-4">Cambiar imagen</h3>
      <div class="flex justify-center mt-4">
        <div class="card flex justify-center">
          <m-toast />
          <input 
            type="file" 
            accept="image/*"
            (change)="onFileSelected($event)"
            class="hidden"
            #fileInput
          />
          <m-button
            [label]="'Seleccionar imagen'"
            [icon]="'lucide:upload'"
            (onClick)="fileInput.click()"
          ></m-button>
        </div>
      </div>
    </div>
    
    <m-divider class="mt-12" />
    
    <div class="w-[80vw] max-w-[80vw] mx-auto mt-6 p-4 border border-gray-200 rounded-lg dark:border-gray-700">
      <h3 class="font-bold text-lg mb-4">Información usuario</h3>
      <div class="flex flex-colum flex-wrap gap-3">
        <div
          class="flex flex-colum flex-wrap gap-3"
          [style]="{justifyContent: isMobile ? 'center' : 'start'}"
        >
          <!-- User name -->
          <div class="card flex justify-center">
            <m-float-label>
              <m-input
                id="username"
                [placeholder]="this.user$()?.name || ''"
              />
              <label for="username">Nombre</label>
            </m-float-label>
          </div>
          <!-- User email -->
          <div class="card flex justify-center">
            <m-float-label>
              <m-input
                id="email"
                [placeholder]="this.user$()?.email || ''"
              />
              <label for="email">Email</label>
            </m-float-label>
          </div>
          <!-- User phone -->
          <div class="card flex justify-center">
            <m-float-label>
              <m-input
                id="phone"
                [placeholder]="this.user$()?.phone || ''"
              />
              <label for="phone">Teléfono</label>
            </m-float-label>
          </div>
          <m-button 
            [label]="'Restablecer contraseña'" 
            [link]="true"
            size="small"
          ></m-button>
        </div>
        <m-divider />
        <div>
          <!-- User status -->
          <div class="card flex justify-center">
            <div class="card flex justify-center">
              <m-card [header]="'Status'">
                <p class="m-0">
                  {{ user$()?.status ? '🟢 Conectado' : '🔘 Desconectado' }}
                </p>
                <p class="m-0">
                  Miembro desde: {{ user$()?.created_at | date: 'mediumDate'}}
                </p>
              </m-card>
            </div>
          </div>
          <div id="controlForm" class="flex m-3 gap-1">
            <m-button
              [label]="labelEdit"
              [severity]="colorEdit"
              size="small"
              variant="outlined"
              (onClick)="editForm()"
            ></m-button>
            <m-button
              [label]="'Cancelar'"
              severity="danger"
              size="small"
              (onClick)="cancelForm()"
            ></m-button>
          </div>
        </div>
      </div>
    </div>
    
    <m-divider class="mt-12" />
    <!-- TABS -->
    <div class="card mt-6">
      <m-tabs [tabs]="tabs">
        <!-- Content Orders tab -->
        <m-tab-panel [index]="0">
          <div class="card">
            <m-table
              [data]="orders"
              [columns]="[
                { field: 'id', header: 'ID' },
                { field: 'date', header: 'Fecha pedido' },
                { field: 'status', header: 'Estado' }
              ]"
            >
              <ng-template #actionsTemplate let-row>
                <div class="flex gap-1.5">
                  <m-button
                    [label]="'Descargar'"
                    severity="warn"
                    variant="outlined"
                    size="small"
                    [icon]="'lucide:receipt'"
                  ></m-button>
                  <m-button
                    [label]="'Ver'"
                    variant="outlined"
                    size="small"
                    [icon]="'lucide:eye'"
                  ></m-button>
                </div>
              </ng-template>
            </m-table>
          </div>
        </m-tab-panel>
        <!-- Content Invoice tab -->
        <m-tab-panel [index]="1">
          <div>
            <canvas #chartCanvas></canvas>
          </div>
        </m-tab-panel>
      </m-tabs>
    </div>
  </div>
</div>
