<div class="card flex justify-center mb-12">
  <p-fieldset
    legend="Imagen de perfil"
    [style]="{width: '90vw', margin: 'auto'}"
  >
    <div class="flex justify-center">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        class="mr-2"
        [style]="{width: '120px', height: '120px'}"
        shape="circle"
      />
    </div>
    <p-fieldset
      legend="Cambiar imagen"
      [toggleable]="true"
      [(collapsed)]="isCollapsed"
      [style]="{ width: '80vw', maxWidth: '80vw', margin: 'auto'}"
    >
      <div class="flex justify-center mt-4">
        <div class="card flex justify-center">
          <div class="card flex justify-center">
            <p-toast
              [breakpoints]="{ '920px': { width: '90%', right: '0', left: '0' , margin: 'auto'} }"
            />
          </div>
          <p-fileupload
            mode="basic"
            name="demo[]"
            chooseIcon="pi pi-upload"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*"
            maxFileSize="1000000"
            (onUpload)="onBasicUploadAuto($event)"
            [auto]="true"
            chooseLabel="Browse"
          />
        </div>
      </div>
    </p-fieldset>
    <p-divider [style]="{marginTop: '50px'}" />
    <p-fieldset
      legend="Información usuario"
      [style]="{ width: '80vw', maxWidth: '80vw', margin: 'auto'}"
    >
      <div class="flex flex-colum flex-wrap gap-3">
        <div
          class="flex flex-colum flex-wrap gap-3"
          [style]="{justifyContent: isMobile ? 'center' : 'start'}"
        >
          <!-- User name -->
          <div class="card flex justify-center">
            <p-iftalabel>
              <input
                pInputText
                pSize="small"
                id="username"
                [value]="this.user$()?.name"
                [disabled]="isDisabled"
                autocomplete="off"
              />
              <label for="username">Nombre</label>
            </p-iftalabel>
          </div>
          <!-- User name -->
          <div class="card flex justify-center">
            <p-iftalabel>
              <input
                pInputText
                pSize="small"
                id="email"
                [value]="this.user$()?.email"
                [disabled]="isDisabled"
                autocomplete="off"
              />
              <label for="email">Email</label>
            </p-iftalabel>
          </div>
          <!-- User phone -->
          <div class="card flex justify-center">
            <p-iftalabel>
              <input
                pInputText
                pSize="small"
                id="phone"
                [value]="this.user$()?.phone"
                [disabled]="isDisabled"
                autocomplete="off"
              />
              <label for="phone">Teléfono</label>
            </p-iftalabel>
          </div>
          <p-button label="Restablecer contraseña" link size="small"></p-button>
        </div>
        <p-divider />
        <div>
          <!-- User status -->
          <div class="card flex justify-center">
            <div class="card flex justify-center">
              <p-panel header="Status">
                <p class="m-0">
                  {{ user$()?.status ? '🟢 Conectado' : '🔘 Desconectado' }}
                </p>
                <p class="m-0">
                  Miembro desde: {{ user$()?.created_at | date: 'mediumDate'}}
                </p>
              </p-panel>
            </div>
          </div>
          <div id="controlForm" class="flex m-3 gap-1">
            <p-button
              [label]="labelEdit"
              [severity]="colorEdit"
              size="small"
              variant="outlined"
              (onClick)="editForm()"
            ></p-button>
            <p-button
              label="Cancelar"
              severity="danger"
              size="small"
              (onClick)="cancelForm()"
            ></p-button>
          </div>
        </div>
      </div>
    </p-fieldset>
    <p-divider [style]="{marginTop: '50px'}" />
    <!-- TABS -->
    <div class="card">
      <p-tabs value="0" scrollable>
        <p-tablist>
          <ng-template #previcon>
            <i class="pi pi-minus"></i>
          </ng-template>
          <p-tab value="0" class="flex items-center !gap-2">
            <i class="pi pi-receipt" style="font-size: 1rem"></i>
            <span class="font-bold whitespace-nowrap">Pedidos</span>
          </p-tab>
          <p-tab value="1" class="flex items-center !gap-2">
            <i class="pi pi-info-circle" style="font-size: 1rem"></i>
            <span class="font-bold whitespace-nowrap">Info</span>
          </p-tab>
          <ng-template #nexticon>
            <i class="pi pi-plus"></i>
          </ng-template>
        </p-tablist>
        <p-tabpanels>
          <!-- Content Orders tab -->
          <p-tabpanel value="0">
            <div class="card">
              <p-table
                [value]="orders"
                stripedRows
                responsiveLayout="stack"
                breakpoint="960px"
              >
                >
                <ng-template #header>
                  <tr>
                    <th>ID</th>
                    <th>Fecha pedido</th>
                    <th>Estado</th>
                    <th>
                      <i class="pi pi-download"></i>
                      Facturas
                    </th>
                  </tr>
                </ng-template>
                <ng-template #body let-product>
                  <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.date}}</td>
                    <td>{{product.status}}</td>
                    <td class="flex gap-1.5">
                      <p-button
                        label="Descargar"
                        severity="warn"
                        variant="outlined"
                        size="small"
                      >
                        <i class="pi pi-receipt"></i>
                      </p-button>
                      <p-button
                        label="Ver"
                        severity="success"
                        variant="outlined"
                        size="small"
                      >
                        <i class="pi pi-eye"></i>
                      </p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabpanel>
          <!-- Content Invoice tab -->
          <p-tabpanel value="1">
            <div>
              <canvas #chartCanvas></canvas>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </p-fieldset>
</div>
