<div class="flex flex-col sm:flex-row w-full mt-5 mb-20 gap-8">
  <!-- Sidebar -->
  <aside class="w-full sm:basis-1/6 sm:ml-10">
    <div class="card flex justify-center">
      <p-menu
        [model]="items"
        [ngStyle]="{width: isMobile ? '300px' : '250px'}"
      />
    </div>
  </aside>

  <!-- Productos -->
  <div class="flex flex-wrap justify-center sm:justify-start gap-10 flex-1">
    @for(product of products$(); track product.id) {
    <div class="catCard" [style]="{width: isMobile ? '300px' : '240px'}">
      <a href="#">
        <p-image [src]="product.urlImg" />
      </a>

      <div class="lowerCatCard">
        <h4 [style]="{color: isDarkMode ? 'lightgreen' : '#32CD32'}">
          {{ product.category }}
        </h4>
        <h3 class="text-lg h-[60px] mb-1 text-white">{{ product.name }}</h3>
        <p [style]="{ height: '140px', color: 'white'}">
          {{ product.description }}
        </p>
        <p
          [style]="{fontWeight: 'bold', fontSize: '20px', color: isDarkMode ? '#FFD700' : '#FFD700'}"
        >
          {{product.price}} <span class="text-yellow-200">€</span>
        </p>
        <div class="flex flex-row justify-start gap-2 mt-4">
          <p-button
            severity="success"
            label="Añadir"
            icon="pi pi-cart-plus"
          ></p-button>
          <p-button
            severity="info"
            label="Ver"
            variant="outlined"
            icon="pi pi-eye"
          ></p-button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
