<p-card class="register-card">
  <ng-template #title>{{ 'register.title' | translate }}</ng-template>
  <form [formGroup]="registerForm">
    <div class="flex flex-row gap-4">
      <input
        [style]="{width: '50%', float: 'left'}"
        formControlName="name"
        type="text"
        pInputText
        [placeholder]="'register.form.name' | translate"
      />
      <input
        formControlName="surnames"
        type="text"
        pInputText
        [placeholder]="'register.form.surnames' | translate"
      />
    </div>
    <input
      formControlName="username"
      type="text"
      pInputText
      [placeholder]="'register.form.username' | translate"
    />
    <input
      formControlName="email"
      type="text"
      pInputText
      [placeholder]="'register.form.email' | translate"
    />
    <p-inputmask
      class="w-full sm:w-40 float-left"
      mask="+34 999-999-999"
      formControlName="phone"
      [placeholder]="'register.form.phone' | translate"
    />
    <div class="mt-10">
      <p-password
        style="width: 100%; margin-bottom: 0px !important"
        formControlName="password"
        [placeholder]="'register.form.password' | translate"
        [feedback]="true"
      />
      <p-password
        style="width: 100%"
        formControlName="confirmPassword"
        [placeholder]="'register.form.confirm_password' | translate"
        [feedback]="true"
      />
    </div>
    <div class="card flex justify-start m-2">
      <div class="flex flex-col gap-4" formArrayName="termsList">
        @for (term of legal; track term.name; let i = $index) {
        <div class="flex items-center">
          <p-checkbox
            [inputId]="term.name"
            [binary]="true"
            [formControlName]="i"
          />
          <label [for]="term.name" class="ml-2">
            {{ term.label | translate }}
          </label>
        </div>
        }
      </div>
    </div>
  </form>
  <br />
  @if(registerForm.invalid && registerForm.touched) {
    @if(registerForm.hasError('passwordsMismatch')) {
    <div class="flexbox w-full mb-5">
      <p-message severity="warn">
        <i class="pi pi-info-circle"></i>
        <span class="ml-2">{{ 'validation.passwords_mismatch' | translate }}</span>
      </p-message>
    </div>
    } @else {
    <div class="flexbox w-full mb-5">
      <p-message severity="error">
        <i class="pi pi-info-circle"></i>
        <span class="ml-2">{{ 'validation.required' | translate }}</span>
      </p-message>
    </div>
    }
  }
  @if(termsError) {
  <div class="flexbox w-full mb-5">
    <p-message severity="warn">
      <i class="pi pi-info-circle"></i>
      <span class="ml-2">{{ 'validation.terms_required' | translate }}</span>
    </p-message>
  </div>
  }
  <p-button
    [style]="{width: '100%'}"
    [label]="'register.form.register_button' | translate"
    icon="pi pi-user-plus"
    iconPos="left"
    size="small"
    [loading]="loading"
    (onClick)="onRegister()"
  />
  <p-button
    [style]="{width: '100%', marginTop: '10px'}"
    [label]="'register.form.login_link' | translate"
    (click)="router.navigate(['/login'])"
    link=""
    ripple="false"
  />
</p-card>
