<p-card class="register-card">
  <ng-template #title>{{ 'register.title' | translate }}</ng-template>
  <div class="flex flex-row gap-4">
    <input
      [style]="{width: '50%', float: 'left'}"
      [(ngModel)]="payloadForm.nameValue"
      type="text"
      pInputText
      [placeholder]="'register.form.name' | translate"
    />
    <input
      [(ngModel)]="payloadForm.surnamesValue"
      type="text"
      pInputText
      [placeholder]="'register.form.surnames' | translate"
    />
  </div>
  <input
    [(ngModel)]="payloadForm.userValue"
    type="text"
    pInputText
    [placeholder]="'register.form.username' | translate"
  />
  <input
    [(ngModel)]="payloadForm.emailValue"
    type="text"
    pInputText
    [placeholder]="'register.form.email' | translate"
  />
  <p-inputmask
    class="w-full sm:w-40 float-left"
    mask="+34 999-999-999"
    [(ngModel)]="payloadForm.phoneValue"
    [placeholder]="'register.form.phone' | translate"
  />
  <div class="mt-10">
    <p-password
      style="width: 100%; margin-bottom: 0px !important"
      [(ngModel)]="payloadForm.passwordValue1"
      [placeholder]="'register.form.password' | translate"
      [feedback]="true"
    />
    <p-password
      style="width: 100%"
      [(ngModel)]="payloadForm.passwordValue2"
      [placeholder]="'register.form.confirm_password' | translate"
      [feedback]="true"
    />
  </div>
  <div class="card flex justify-start m-2">
    <div class="flex flex-col gap-4">
      <div *ngFor="let term of legal; let i = index" class="flex items-center">
        <p-checkbox
          [inputId]="i.toString()"
          [value]="term"
          [(ngModel)]="term.value"
          [binary]="true"
        />
        <label [for]="term.name" class="ml-2">
          {{ term.label | translate }}
        </label>
      </div>
    </div>
  </div>
  <br />
  @if(this.validation() !== ""){
  <div class="flexbox w-full mb-5">
    <p-message [severity]="severityValidation">
      <i class="pi pi-info-circle"></i>
      <span class="ml-2">{{this.validation()}}</span>
    </p-message>
  </div>
  }
  <p-button
    [style]="{width: '100%'}"
    [label]="'register.form.register_button' | translate"
    icon="pi pi-user-plus"
    iconPos="left"
    size="small"
    [loading]="loading"
    (onClick)="onRegister()"
  />
  <p-button
    [style]="{width: '100%', marginTop: '10px'}"
    [label]="'register.form.login_link' | translate"
    (click)="router.navigate(['/login'])"
    link=""
    ripple="false"
  />
</p-card>
