footer {
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 60% 1fr;
  grid-template-areas:
    "footer-principal footer-secondary footer-tertiary"
    "footer-socials footer-secondary footer-tertiary";
}

footer > div {
  background-color: rgba(136, 136, 136, 0.397);
  color: white;
}

.principal {
  grid-area: footer-principal;
}

.secondary {
  grid-area: footer-secondary;
}

.tertiary {
  grid-area: footer-tertiary;
}

.socials {
  grid-area: footer-socials;
}

/* Media Queries */
/* Pantallas pequeñas */
@media (max-width: 720px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "footer-principal"
      "footer-secondary"
      "footer-tertiary"
      "footer-socials";
  }

  footer > div {
    width: 100%;
    text-align: center;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
