<footer>
  <div class="principal">
    <div class="flex align-items-center justify-content-center">
      <p-image style="margin: 10px" src="logos/principal.jpg" width="50" />
      <h3 style="margin: 20px 0px 0px 20px; font-size: 20px">
        Nombre del sitio
      </h3>
    </div>
    <p style="margin: 20px 40px 40px 20px; font-size: 16px">
      {{ 'footer.description' | translate }}
    </p>
  </div>
  <div class="socials">
    <h3 style="margin: 20px 40px 20px 20px">
      {{'footer.socials' | translate}}
    </h3>
    <div class="icons-container" style="margin: 20px 40px 20px 20px">
      <ul style="display: flex; gap: 10px">
        <li class="pi pi-instagram" style="font-size: 20px"></li>
        <li class="pi pi-whatsapp" style="font-size: 20px"></li>
        <li class="pi pi-twitter" style="font-size: 20px"></li>
      </ul>
    </div>
  </div>
  <div class="secondary">
    <h3 style="margin: 20px 40px 20px 20px">
      {{ 'footer.sitemap' | translate }}
    </h3>
    <ul style="margin: 20px 40px 20px 20px; cursor: pointer">
      <li class="underline">{{ 'header.home' | translate }}</li>
      <li class="underline">{{ 'header.shop' | translate }}</li>
      <li class="underline">
        <a routerLink="/contact">{{ 'header.contact' | translate }}</a></li>
      <li class="underline">
        <a routerLink="/about">{{ 'header.about' | translate }}</a>
      </li>
      <li class="underline">{{ 'header.login' | translate }}</li>
      <li class="underline">{{ 'header.register' | translate }}</li>
    </ul>
  </div>
  <div class="tertiary">
    <h3 style="margin: 20px 40px 20px 20px">
      {{ 'footer.legals' | translate }}
    </h3>
    <ul style="margin: 20px 40px 20px 20px; cursor: pointer">
      <li class="underline">
        <a routerLink="/notice">{{ 'footer.legal_notice' | translate }}</a>
      </li>
      <li class="underline">
        <a routerLink="/cond">{{ 'footer.conditions' | translate }}</a>
      </li>
      <li class="underline">
        <a routerLink="/terms"> {{ 'footer.terms_conditions' | translate }} </a>
      </li>
      <li class="underline">
        <a routerLink="/priv"> {{ 'footer.privacy_policy' | translate }}</a>
      </li>
    </ul>
  </div>
</footer>
