<footer>
  <div class="principal">
    <div class="flex align-items-center justify-content-center">
      <p-image style="margin: 10px" src="logos/principal.jpg" width="50" />
      <h3 style="margin: 20px 0px 0px 20px; font-size: 20px">
        Nombre del sitio
      </h3>
    </div>
    <p style="margin: 20px 40px 40px 20px; font-size: 16px">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, amet,
      quos id voluptatibus nihil autem dolorum sit molestias laboriosam,
      inventore sint quis laborum mollitia tempora dolorem quisquam. Aperiam
      eius officiis qui minima officia aliquam at eum quaerat commodi natus,
      reprehenderit tenetur minus accusamus nesciunt porro eveniet fugit nam,
      est tempora!
    </p>
  </div>
  <div class="socials">
    <h3 style="margin: 20px 40px 20px 20px">Socials</h3>
    <div class="icons-container" style="margin: 20px 40px 20px 20px">
      <ul style="display: flex; gap: 10px">
        <li class="pi pi-instagram" style="font-size: 20px"></li>
        <li class="pi pi-whatsapp" style="font-size: 20px"></li>
        <li class="pi pi-twitter" style="font-size: 20px"></li>
      </ul>
    </div>
  </div>
  <div class="secondary">
    <h3 style="margin: 20px 40px 20px 20px">Sitemap</h3>
    <ul style="margin: 20px 40px 20px 20px; cursor: pointer">
      <li class="underline">Home</li>
      <li class="underline">About</li>
      <li class="underline">Contact</li>
      <li class="underline">Blog</li>
      <li class="underline">Services</li>
    </ul>
  </div>
  <div class="tertiary">
    <h3 style="margin: 20px 40px 20px 20px">Legals</h3>
    <ul style="margin: 20px 40px 20px 20px; cursor: pointer">
      <li class="underline">
        <a routerLink="/notice">Aviso legal </a>
      </li>
      <li class="underline">
        <a routerLink="/cond">Condiciones de uso </a>
      </li>
      <li class="underline">
        <a routerLink="/terms"> Términos y condiciones </a>
      </li>
      <li class="underline">
        <a routerLink="/priv"> Política de privacidad </a>
      </li>
    </ul>
  </div>
</footer>
