<div class="card" id="header">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <p-image
        class="rounded-full"
        id="principal-logo"
        src="logos/principal.jpg"
        alt="Principal logo"
        width="50"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <p-toggleButton
        [(ngModel)]="isDarkMode"
        onLabel="Oscuro"
        offLabel="Claro"
        [onIcon]="'pi pi-moon'"
        offIcon="pi pi-sun"
        size="small"
        styleClass="min-w-10 mr-2"
        (ngModelChange)="toggleDarkMode()"
      >
      </p-toggleButton>
      <p-button
        class="mr-2"
        icon="pi pi-cart-minus"
        [rounded]="true"
        (click)="showDialog()"
        link
      />

      @if(this.isLogged()) {
      <!-- logged user -->
      <p-button
        severity="help"
        icon="pi pi-user"
        [rounded]="true"
        (click)="menuClients.toggle($event)"
      />
      <p-tieredmenu #menuClients [model]="clientItems" [popup]="true" />
      }@else{
      <!-- no logged user -->
      <p-button
        icon="pi pi-user"
        [rounded]="true"
        (click)="menu.toggle($event)"
      />
      <p-tieredmenu #menu [model]="itemsTiered" [popup]="true" />
      }
    </ng-template>
  </p-menubar>

  <!-- Cart Dialog -->
  <p-dialog
    styleClass="w-full md:max-w-[35rem]"
    [header]="'cart.title' | translate"
    [modal]="true"
    [(visible)]="visible"
    position="bottomright"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
  >
    <div class="px-4 pb-4">
      <app-cart></app-cart>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex flex-col md:flex-row w-full">
        <p-button
          styleClass="flex w-full md:w-[350px]"
          [label]="'cart.checkout_button' | translate"
        ></p-button>
        <p-button
          styleClass="flex w-full md:ml-2 mt-2 md:mt-0"
          [label]="'cart.empty' | translate"
          severity="danger"
          (click)="visible = false; showToastEmtpyCart()"
        />
      </div>
    </ng-template>
  </p-dialog>

  <div class="card flex justify-center">
    <p-toast [breakpoints]="{ '920px': { width: '90%' } }" />
  </div>
</div>
<div
  class="fixed bg-slate-600 bottom-0 left-1/2 transform -translate-x-1/2 mb-4 z-[999] flex flex-row gap-1 p-2 rounded-full"
>
  <app-search></app-search>
  <app-up-button></app-up-button>
</div>
<div>
  <app-drawer-cookies></app-drawer-cookies>
</div>
