<div class="card" id="header">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <p-image
        class="rounded-full"
        id="principal-logo"
        src="logos/principal.jpg"
        alt="Principal logo"
        width="50"
      />
    </ng-template>
    <ng-template pTemplate="end">
      <p-button
        [style]="{ 'margin-right': '50px' }"
        icon="pi pi-cart-minus"
        [rounded]="true"
        (click)="showDialog()"
        link
      />
      <p-button
        class="mr-2"
        severity="secondary"
        icon="pi pi-globe"
        [rounded]="true"
        (click)="toggleLanguage()"
      />
      <p-button
        icon="pi pi-user"
        [rounded]="true"
        (click)="menu.toggle($event)"
      />
      <p-tieredmenu #menu [model]="itemsTiered" [popup]="true" />
    </ng-template>
  </p-menubar>

  <!-- Cart Dialog -->
  <p-dialog
    styleClass="w-full md:max-w-[35rem]"
    [header]="'cart.title' | translate"
    [modal]="true"
    [(visible)]="visible"
    position="bottomright"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
  >
    <div class="px-4 pb-4">
      <app-cart></app-cart>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex flex-col md:flex-row w-full">
        <p-button
          styleClass="flex w-full md:w-[350px]"
          [label]="'cart.checkout_button' | translate"
        ></p-button>
        <p-button
          styleClass="flex w-full md:ml-2 mt-2 md:mt-0"
          [label]="'cart.empty' | translate"
          severity="danger"
          (click)="visible = false; showToastEmtpyCart()"
        />
      </div>
    </ng-template>
  </p-dialog>

  <div class="card flex justify-center">
    <p-toast [breakpoints]="{ '920px': { width: '90%' } }" />
  </div>
</div>
<div class="fixed bottom-0 right-0 m-4">
  <app-up-button></app-up-button>
</div>
