<p-card class="login-card">
  <ng-template #title>{{ 'login.title' | translate }}</ng-template>
  <input
    [(ngModel)]="username"
    type="text"
    pInputText
    [placeholder]="'login.form.both' | translate"
  />
  <p-password
    style="width: 100%"
    [(ngModel)]="password"
    [placeholder]="'login.form.password' | translate"
    [feedback]="false"
  />
  <br />
  <p-button
    [style]="{width: '100%'}"
    [label]="'login.form.login_button' | translate"
    icon="pi pi-check"
    iconPos="left"
    [loading]="loading"
    (onClick)="onLogin()"
    size="small"
  />
  <p-button
    [style]="{width: '100%', marginTop: '10px'}"
    [label]="'login.form.forgot_password' | translate"
    link
    ripple="false"
  />
  <p-button
    [style]="{width: '100%', marginTop: '10px'}"
    [label]="'login.form.no_account' | translate"
    link
    ripple="false"
    (click)="router.navigate(['register'])"
  />
</p-card>
