<m-card class="login-card" [header]="'login.title' | translate">
  <form [formGroup]="loginForm">
    <m-input
      formControlName="username"
      type="text"
      [placeholder]="'login.form.both' | translate"
      styleClass="w-full mb-4"
    />
    <m-password
      formControlName="password"
      [placeholder]="'login.form.password' | translate"
      styleClass="w-full mb-4"
    />
  </form>
  <br />
  @if(loginForm.invalid && loginForm.touched) {
  <div class="flexbox w-full mb-5">
    <m-message severity="error" [title]="'validation.required' | translate" />
  </div>
  } @else if(errorMessage$()) {
  <div class="flexbox w-full mb-5">
    <m-message severity="error" [title]="errorMessage$() || ''" />
  </div>
  }
  <m-button
    styleClass="w-full"
    [label]="'login.form.login_button' | translate"
    icon="lucide:check"
    iconPos="left"
    [loading]="loading"
    (onClick)="onLogin()"
    size="small"
  />
  <m-button
    styleClass="w-full mt-2"
    [label]="'login.form.forgot_password' | translate"
    [link]="true"
  />
  <m-button
    styleClass="w-full mt-2"
    [label]="'login.form.no_account' | translate"
    [link]="true"
    (onClick)="router.navigate(['register'])"
  />
</m-card>
