<!-- <div class="card flex justify-center">
  <m-button
    (onClick)="showDialog()"
    label="Mostrar aviso de cookies"
    icon="lucide:settings"
  />
</div> -->

<m-dialog
  header="Preferencias de cookies"
  [(visible)]="visible"
  [closeable]="false"
  size="lg"
>
  <div class="mb-4">
    <p class="text-lg font-semibold mb-2">🍪 Usamos cookies</p>
    <p class="text-sm text-color-secondary">
      Este sitio web utiliza cookies propias y de terceros para garantizar el
      correcto funcionamiento de la página, personalizar tu experiencia,
      analizar el tráfico y ofrecer contenidos adaptados a tus intereses.
    </p>
  </div>
  <div class="mb-4">
    <m-button
      (onClick)="router.navigate(['/cookies'])"
      label="Ir a nuestra política de cookies"
      [link]="true"
    />
  </div>

  <m-divider />

  <!-- Sección de configuración -->
  <div class="flex flex-col gap-3 mt-3">
    <div>
      <strong>✅ Cookies necesarias (siempre activas)</strong>
      <p class="text-sm text-color-secondary">
        Estas cookies son esenciales y no se pueden desactivar.
      </p>
    </div>

    <m-checkbox
      [(ngModel)]="preferences.pref"
      label="Cookies de preferencias"
    />
    <small class="text-color-secondary">
      Recuerdan tus preferencias como idioma o región.
    </small>

    <m-checkbox
      [(ngModel)]="preferences.stats"
      label="Cookies de estadísticas"
    />
    <small class="text-color-secondary">
      Ayudan a mejorar el sitio mediante datos anónimos.
    </small>

    <m-checkbox
      [(ngModel)]="preferences.marketing"
      label="Cookies de marketing"
    />
    <small class="text-color-secondary">
      Usadas para mostrar anuncios personalizados.
    </small>
  </div>

  <div class="flex justify-end gap-2 mt-4">
    <m-button label="Rechazar todas" (onClick)="rejectAll()" />
    <m-button label="Aceptar todas" (onClick)="acceptAll()" severity="primary" />
    <m-button label="Guardar preferencias" (onClick)="savePreferences()" severity="success" />
  </div>
</m-dialog>
