<div>
  <m-button
    icon="lucide:search"
    severity="help"
    size="large"
    [rounded]="true"
    variant="text"
    (onClick)="visible = !visible"
  />
</div>
<div class="card">
  <m-drawer
    header="Búsqueda rápida"
    [(visible)]="visible"
    position="bottom"
  >
    <div class="card flex justify-center px-4 py-6">
      <m-input
        [(ngModel)]="searchText"
        type="search"
        icon="lucide:search"
        iconPos="left"
        placeholder="Buscar..."
        styleClass="w-full max-w-[500px]"
      />
    </div>
  </m-drawer>
</div>
