<m-card class="contact-card" [header]="'contact.title' | translate">
  <m-input
    [(ngModel)]="nameValue"
    type="text"
    [placeholder]="'contact.form.name' | translate"
    styleClass="w-full mb-4"
  />

  <m-input
    [(ngModel)]="emailValue"
    type="email"
    [placeholder]="'contact.form.email' | translate"
    styleClass="w-full mb-4"
  />

  <m-input
    [(ngModel)]="topicValue"
    type="text"
    [placeholder]="'contact.form.subject' | translate"
    styleClass="w-full mb-4"
  />

  <m-textarea
    [rows]="5"
    [(ngModel)]="messageValue"
    [placeholder]="'contact.form.message' | translate"
    styleClass="w-full mb-4"
  />

  <m-button
    styleClass="w-full mt-2"
    [label]="'contact.form.submit_button' | translate"
    icon="lucide:send"
    iconPos="left"
    size="small"
  />
</m-card>
