@import "tailwindcss";
@import "primeicons/primeicons.css";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge antiguos */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

.p-dialog-content {
  overflow-y: scroll !important;
  scrollbar-width: none !important;
}

.p-dialog-content::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

/* Buttons basic styles */
.stl-button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-color: rgb(136, 136, 136);
}

.stl-button:hover {
  color: rgba(4, 85, 117, 0.938);
}
